/* =============================== Global Styles =============================== */

:root {

    --bs-body-font-family: "Montserrat", sans-serif;
    --main-bg-color: #F7F7F7;
    --white-color: #fff;
    --white-color-op-01: rgba(255, 255, 255, 0.1);
    --white-color-op-05: rgba(255, 255, 255, 0.5);
    --main-p-color: #748182;
    --bg-dark-color: #1e1e1e;
}

p {
    color: var(--main-p-color);
}

.header h2 {
    width: fit-content;
    text-align: center;
    font-size: 3rem;
    position: relative;
    font-weight: 800;

    &::after {
        content: "";
        width: 100%;
        left: 0;
        background-image: url("imgs/dots.png");
        height: .5rem;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
    }
}

.nav-link {
    &::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        transition: .3s ease-in-out;
        background-color: var(--bg-dark-color);
    }

    &.active::after {
        width: 100%;
    }
}

/* =============================== Navbar Styles =============================== */

.navbar {
    .navbar-brand {
        letter-spacing: 1px;
        font-weight: 900;
    }

    .nav-link {
        width: fit-content;
        opacity: .5;

        &.active {
            opacity: 1;
        }

    }
}

body:has(#main:target) nav.navbar {
    background-color: transparent;

    .navbar-toggler {
        color: var(--white-color);
    }

    .nav-link,
    .navbar-brand {
        color: var(--white-color);
    }

    .nav-link::after {
        background-color: var(--white-color);
    }
}

body:not(:has(#main:target)) nav.navbar {
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

/* =============================== Main Section Styles =============================== */

.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imgs/bg.jpg");
    background-size: cover;


    .contnent h1 {
        font-size: 3rem;
        font-weight: 800;

        span {
            font-weight: 500;
            font-size: 2rem;

            &::after {
                content: "";
                animation: animate 8s alternate infinite;
                font-weight: 200;
                padding-right: .5rem;
                border-right: 2px solid var(--white-color);
            }
        }
    }

    .icons .fa-stack {
        font-size: 1rem;
    }
}

@keyframes animate {
    0% {
        content: "A";
    }

    4% {
        content: "Ad";
    }

    8% {
        content: "Adh";
    }

    12% {
        content: "Adha";
    }

    16% {
        content: "Adham";
    }

    20% {
        content: "Adham Z";
    }

    24% {
        content: "Adham Za";
    }

    28% {
        content: "Adham Zai";
    }

    32% {
        content: "Adham Zain";
    }

    36% {
        content: "Adham Zai";
    }

    40% {
        content: "Adham Za";
    }

    44% {
        content: "Adham Z";
    }

    48% {
        content: "Adham";
    }

    52% {
        content: "Adha";
    }

    56% {
        content: "Adh";
    }

    60% {
        content: "Ad";
    }

    64% {
        content: "A";
    }

    68% {
        content: "";
    }

    72% {
        content: "D";
    }

    76% {
        content: "De";
    }

    80% {
        content: "Dev";
    }

    84% {
        content: "Deve";
    }

    88% {
        content: "Devel";
    }

    92% {
        content: "Develo";
    }

    96% {
        content: "Develop";
    }

    98% {
        content: "Developer";
    }

    100% {
        content: "Developer";
    }

}

/* =============================== About Section Styles =============================== */

.about-section {

    .image {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url("imgs/dots.png");
            width: 2rem;
            left: 0rem;
            height: 80%;
            bottom: 0;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("imgs/dots.png");
            width: 80%;
            height: 2rem;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
        }
    }

    .text {
        h2 {
            font-size: 2rem;
            font-weight: 800;

        }

        .title {
            font-size: 1rem;
            font-weight: 200;
            color: var(--main-p-color);
            letter-spacing: .1rem;
        }

        p {
            font-size: 1.1rem;
        }

        .progress {
            height: 1.5rem;

            .progress-label {
                font-size: 1rem;
            }
        }

        .buttons .btn-1 {
            background-color: var(--bg-dark-color);
            color: var(--white-color);

            &:hover {
                background-color: var(--white-color);
                color: var(--bg-dark-color);
            }
        }

        .buttons .btn-2:hover {
            background-color: var(--bg-dark-color);
            color: var(--white-color);
        }

    }

}

/* =============================== Services Section Styles =============================== */

.services-section {
    background-color: var(--main-bg-color);


    .fa-stack-2x {
        color: var(--main-bg-color);
        font-size: 5rem;
        top: -.5rem;
        transition: .5s;
    }

    .fa-stack-1x {
        color: var(--bg-dark-color);
        transition: .5s;
    }

    .card-body:hover {
        .fa-stack-2x {
            color: var(--bg-dark-color);
        }

        .fa-stack-1x {
            color: var(--main-bg-color);
        }
    }

}

/* =============================== Clints Section Styles =============================== */
.clints-section {
    background-color: var(--main-bg-color);

    .clints-img {
        width: 7rem;
    }

    .carousel-indicators {
        bottom: -1rem;
    }

    .carousel-indicators button {
        width: .75rem;
        height: .75rem;
        border-radius: 50%;
        margin-left: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        /* background-color: var(--bg-dark-color); */
    }

    .title {
        color: var(--main-p-color);
    }
}

/* =============================== Works Section Styles =============================== */
.works-section {
    .nav-link {
        font-size: 1.2rem;
        font-weight: 700;
    }



    .cards .layer {
        top: .5rem;
        left: .5rem;
        bottom: .5rem;
        right: .5rem;
        background-color: var(--main-bg-color);
        opacity: 0;
        transition: opacity .5s;

        .title {
            font-size: 1.2rem;
            font-weight: 700;
            transform: translateY(-100%);
            opacity: 0;
            transition: .5s .25s;
        }

        .fa-stack {
            font-size: 1rem;
            transform: translateY(100%);
            opacity: 0;
            transition: .5s .25s;

            .fa-stack-2x {
                color: var(--bg-dark-color);
            }

            .fa-stack-1x {
                color: var(--white-color);
            }

            &:hover {
                .fa-stack-2x {
                    font-weight: 100;
                }

                .fa-stack-1x {
                    color: var(--bg-dark-color);
                }
            }
        }


        &:hover {
            & {
                opacity: 1;
            }

            .title,
            .fa-stack {
                transform: translateY(0);
                opacity: 1;
            }

        }
    }
}

/* =============================== Numbers Section Styles =============================== */
.numbers {
    i {
        font-size: 2rem;
    }

    .number {
        font-size: 2rem;
        font-weight: 800;
    }

    .title {
        color: var(--main-p-color);
        font-size: 1.2rem;
        font-weight: 800;
    }
}

/* =============================== Team Section Styles =============================== */
.team-section {

    background-color: var(--main-bg-color);

    .my-card:hover {
        .icons {
            opacity: .9;
            transform: scale(1) rotateY(360deg);
        }

        img {
            transform: scale(1.1);
        }
    }

    .image {
        img {
            transition: .5s;
        }
    }

    .icons {
        top: .5rem;
        bottom: .5rem;
        left: .5rem;
        right: .5rem;
        background-color: var(--main-bg-color);
        opacity: 0;
        transition: .5s;
        transform: scale(.8) rotateY(180deg);

        .fa-stack {
            font-size: 1.2rem;

            &:hover {
                .fa-stack-2x {
                    font-weight: 100;
                }

                .fa-stack-1x {
                    color: var(--bg-dark-color);
                }
            }
        }

        .fa-circle {
            color: var(--bg-dark-color);
        }

        .fa-stack-1x {
            color: var(--main-bg-color);
        }

    }

    .card-footer {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #5A5A5A;
    }
}

/* =============================== Contact Section Styles =============================== */
.contact-section {

    .title {
        font-weight: 700;
    }


    .fa-stack-2x,
    .fa-stack-1x {
        transition: .25s;
    }
    .fa-stack-2x{
        color: var(--main-bg-color);
    }
    .fa-stack-1x{
        color: var(--bg-dark-color);
    }
    .item:hover {

        .fa-stack-2x{
            color: var(--bg-dark-color);

        }
        .fa-stack-1x{
            color: var(--main-bg-color);

        }


    }

    form input,
    textarea {
        background-color: #f4f4f4;
        padding: .5rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        outline: none;
        border: none;
    }
    textarea{
        height: 10rem;
        max-height: 15rem;
        resize: vertical;
    }



     .btn-1 {
        background-color: var(--bg-dark-color);
        color: var(--white-color);
        transition: .5s;
        border: 1px solid var(--bg-dark-color);
        &:hover {
            background-color: var(--white-color);
            color: var(--bg-dark-color);
        }
    }


}


.footer{
    background-color: var(--bg-dark-color);
}


/* =============================== Modal Section Styles =============================== */

.modal {
    background-color: rgba(0, 0, 0, 0.6);

    .my-btn-close {
        right: 0;
        top: -20%;
        font-size: 2rem;
        z-index: 3;
        color: #fff;
        opacity: .5;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    .prev-icon,
    .next-icon {
        font-size: 3rem;
    }

}








/* =============================== Media Styles =============================== */


@media (min-width: 640px) {

    .modal {
        .my-btn-close {
            right: -20%;
            top: -20%;

        }

        .carousel-control-prev {
            left: -20%;
        }

        .carousel-control-next {
            right: -20%;
        }
    }


}

@media (min-width: 780px) {
    .contact-section {
        .contact-inputs {
            display: flex;
            justify-content: space-between;

            input {
                width: calc(50% - .5rem);
            }
        }
    }
}

@media (min-width: 1200px) {
    .main-section {
        .contnent h1 {
            font-size: 4rem;

            span {
                font-size: 4rem;
            }
        }

        .icons .fa-stack {
            font-size: 1.2rem;
        }
    }



    .modal {

        .my-btn-close {
            right: -50%;
            top: -50%;

        }


        .carousel-control-prev {
            left: -50%;
        }

        .carousel-control-next {
            right: -50%;

        }
    }

}